<div class="card">
  <%= render "/users/avatar" %>
  <p>
    <%= @article.user.email %>
  </p>
  <small>
    <%= @article.created_at %>
  </small>
  <h5 class="card-title"><%= @article.title %></h5>
  <p>
    <%= @article.body %>
  </p>
</div>
