<div id="<%= dom_id article %>">
  <div class="card">
    <div class="row">
      <div class="col-sm-2">
        <%= render "/users/avatar" %>
      </div>
      <div class="col-sm-8">
        <p>
          <%= article.user.username %>
        </p>
        <small>
          <%= article.created_at %>
        </small>
        <a href="/articles/<%= article.id %>" class="card-body text-dark">
          <h5 class="card-title"><%= article.title %></h5>
          <p>
            <%= article.body %>
          </p>
        </a>
        <%= article.categories.pluck(:name) %>
      </div>
      <div class="col-sm-2">
      </div>
    </div>
  </div>
</div>
