<div class="card article-card">
  <div class="card-body">
    <h5 class="card-title px-2"><%= article.start_time&.strftime('%Y年%m月%d日') %></h5>
    <%= article.body %>
    <div>
      <strong>people:</strong>
      <% article.people.each do |person| %>
        <span><%= truncate(person.name, length: 10) %></span>
      <% end %>
    </div>
    <% if @user %>
      <%= link_to "Edit", edit_article_path(article), class:"btn btn-primary" %>
      <%= button_to "Destroy", article, method: :delete, class:"btn btn-primary"  %>
    <% end %>

    <div class="text-left pb-1">
    </div>
  </div>
</div>
