<div id="<%= dom_id article %>">
  <div class="card">
      <%= render "/users/avatar" %>
    <a href="/articles/<%= article.id %>" class="card-body text-dark">
      <p>
        <%= article.user.username %>
      </p>
      <small>
        <%= article.created_at %>
      </small>
        <%= article.categories.pluck(:name).each do |category_name| %>
          <p>
            <%= category_name %>
          </p>
        <% end %>
      <h5 class="card-title"><%= article.title %></h5>
      <p>
        <%= article.body %>
      </p>
    </a>
  </div>
</div>
