<div id="<%= dom_id article %>">
  <div class="card">
    <a href="/articles/<%= article.id %>" class="card-body text-dark">
      <p>
        <%= article.user.email %>
      </p>
      <small>
        <%= article.created_at %>
      </small>
      <p>
        <%= article.categorys %>
      </p>
      <h5 class="card-title"><%= article.title %></h5>
      <p>
        <%= article.body %>
      </p>
    </a>
  </div>
</div>
