<div class="card article-card">
  <div class="card-body">
    <h5 class="card-title px-2"><%= article.start_time&.strftime('%Y年%m月%d日') %></h5>
    <div class="card-body">
      <div class="row">
        <div class="col-md-7"> <!-- col-md-8をcol-md-7に変更 -->
          <h1 class="card-title"><%= article.title %></h1>
          <p class="card-text"><strong>勤務地:</strong> <%= article.work_location %></p>
          <p class="card-text"><strong>給与詳細:</strong> <%= article.salary_details %></p>
          <p class="card-text"><strong>言語要件:</strong> <%= article.language_requirement %></p>
          <p class="card-text"><strong>日本語レベル:</strong> <%= article.japanese_level %></p>
          <p class="card-text"><strong>雇用形態:</strong> <%= article.employment_type %></p>
          <p class="card-text"><strong>勤務時間:</strong> <%= article.work_hours %></p>
          <p class="card-text"><strong>試用期間:</strong> <%= article.trial_period %></p>
          <p class="card-text"><strong>休日:</strong> <%= article.days_off %></p>
          <p class="card-text"><strong>残業:</strong> <%= article.overtime %></p>
          <p class="card-text"><strong>交通手段:</strong> <%= article.transportation %></p>
          <p class="card-text"><strong>勤務環境:</strong> <%= article.work_environment %></p>
          <p class="card-text"><strong>その他手当:</strong> <%= article.other_allowances %></p>
          <p class="card-text"><strong>保険:</strong> <%= article.insurance %></p>
          <p class="card-text"><strong>その他福利厚生:</strong> <%= article.other_benefits %></p>
          <p class="card-text"><strong>説明:</strong> <%= article.description %></p>

          <!-- 記事の本文を表示 -->
          <p class="card-text"><strong>本文:</strong> <%= article.body %></p>

          <% if current_user?(@user) %>
            <div class="row mt-4">
              <div class="col-md-6 text-center">
                <%= link_to "Edit", edit_article_path(article), class:"btn btn-primary" %>
              </div>
              <div class="col-md-6 text-center">
                <%= button_to "Destroy", article, method: :delete, class:"btn btn-danger", data: { confirm: "Are you sure?" } %>
              </div>
            </div>
          <% else %>
          <% if false %>
            <div class="row mt-4">
              <div class="col-md-12 text-center">
                <%= render "/articles/like" %>
                <%= render "/articles/bookmark" %>
              </div>
            </div>
          <% end %>
          <% end %>
        </div>
        <div class="col-md-5"> <!-- col-md-4をcol-md-5に変更 -->
          <img src="<%= asset_path('World-14.png') %>" alt="Matches Logo" style="flex: 1; width: auto; max-width: 100%;">
        </div>
      </div>
    </div>
    <div>

    <div class="text-left pb-1">
    </div>
  </div>
</div>
