<div class="card">
  <small class="p-1" style="text-align: center">
    <%= @article.created_at.to_fs(:datetime_jp) %>
  </small>
  <h5 class="card-title" style="text-align: center"><%= @article.title %></h5>
  <%= render "/articles/bookmark" %>
  <%= render "/articles/like" %>
        <p class="text-right">
        </p>
  <p class="card-body">
    <%= @article.body %>
  </p>
</div>
