<div style="display: flex; align-items: center; padding: 2px; text-align: center;">
  <h1 style="flex: 1; font-size: 6em; text-align: right; margin-bottom: 0; font-weight: bold;">Find your job <br>in Japan</h1>
  <img src="<%= asset_path('World-10.png') %>" alt="Matches Logo" style="flex: 1; width: auto; max-width: 100%;"> <!-- This will scale the image to fit the flex item -->
</div>

<div style="display: flex; align-items: right; margin-bottom: 20px;">
  <%= link_to '業界', root_path, class: "link-modern" %>
  <%= link_to '地域', root_path, class: "link-modern" %>
  <%= link_to '希望年収', root_path, class: "link-modern" %>
</div>

<div class="form-modern">
  <%= form_with url: root_path, local: true do |form| %>
    <%= form.search_field :query, style: "padding: 10px; font-size: 16px; border: 2px solid #ccc; border-radius: 20px 0 0 20px; outline: none;" %>
    <%= form.submit "Search", style: "padding: 10px 15px; font-size: 16px; background-color: #4285F4; color: white; border: none; border-radius: 0 20px 20px 0; cursor: pointer;" %>
  <% end %>
</div>


<div style="display: flex; justify-content: space-around;">
  <div class="card" style="border: 1px solid #ddd; padding: 15px; width: 200px; text-align: left;">
    <h3 style="color: #333;">Home deposit</h3>
    <p style="font-size: 1.5em; color: #333;">$64,240.60</p>
  </div>
  <!-- Repeat for each card -->
</div>

<div class="row">
  <div class="col-sm-2 mb-3">
    <%= render "people" %>
  </div>
  <div class="col-sm-4">
    <div class="card article-card">
      <div class="card-body">
        <% @articles.each do |article| %>
          <%= article.start_time&.strftime('%m月%d日') %>
          <%= truncate(article.body, length: 20) %>
          <br>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-sm-6 mb-3">
    <%= render "articles_list", articles: @articles %>
    <% if Rails.env == "development" %>
      <p>
        debug用に記事数を表示:<%= @number_of_articles %>
      </p>
    <% end %>
  </div>
</div>
