<p style="color: green"><%= notice %></p>
  <%= week_calendar(events: @articles, number_of_weeks: 2) do |date, articles| %>
    <div class="day">
      <%= date.day %>
    <% articles.each do |article| %>
      <div class="card-header">
        <h5 class="card-title">
          <%= link_to article.title, article %>
        </h5>
      </div>
      <div class="card-body">
        <p class="card-text">
          <%= truncate(article.body, length: 10, omission: '...') %>
        </p>
      </div>
      <div class="card-footer">
        <p class="card-text">
          From: <%= article.start_time.strftime('%A, %B %d, %Y at %I:%M %p') %>
        </p>
        <p class="card-text">
          To: <%= article.end_time.strftime('%A, %B %d, %Y at %I:%M %p') %>
        </p>
      </div>
    <% end %>
  <% end %>
  <div class="row">
    <div class="card col-sm-2 mt-3 text-center">
      <div class="card-header">
        <h5 class="card-title">
          次会う人
        </h5>
      </div>
      <div id="users">
        <% @users.each do |user| %>
          <%= render user %>
        <% end %>
      </div>
    </div>
    <div class="col-sm-10 mt-3">
      <div class="row" id="articles">
        <% @articles.each do |article| %>
          <div class="col-sm-3 mb-3">
            <%= render article %>
          </div>
        <% end %>
      </div>
      <%= paginate @articles %>
      <% if Rails.env == "development" %>
        <p>
          debug用に記事数を表示:<%= @number_of_articles %>
        </p>
      <% end %>
    </div>
  <% if false %>
    TODO: カテゴリ一覧は、とりあえず表示しない。
    <div class="col-sm-2">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">カテゴリ一覧</h5>
          <p class="card-text">
            <% @categories.each do |category| %>
              <%= category.name %>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
  </div>
