<div style="display: flex; align-items: center; padding: 2px; text-align: center;">
  <h1 class="header-title">Find your job <br>in Japan</h1>
  <img src="<%= asset_path('World-10.png') %>" alt="Matches Logo" class="logo-image">
</div>

<% if false %>
<div style="display: flex; justify-content: center; margin-bottom: 20px;">
  <div>
    <%= link_to '業界', root_path, class: "link-modern" %>
    <%= link_to '地域', root_path, class: "link-modern" %>
    <%= link_to '希望年収', root_path, class: "link-modern" %>
  </div>

  <div class="form-modern">
    <%= form_with url: root_path, local: true do |form| %>
      <%= form.search_field :query, style: "padding: 10px; font-size: 16px; border: 2px solid #ccc; border-radius: 20px 0 0 20px; outline: none;" %>
      <%= form.submit "Search", style: "padding: 10px 15px; font-size: 16px; background-color: #4285F4; color: white; border: none; border-radius: 0 20px 20px 0; cursor: pointer;" %>
    <% end %>
  </div>
</div>
<% end %>

<% if false %>
<div class="row">
  <% @articles.each_slice(2) do |article_slice| %>
    <% article_slice.each do |article| %>
      <div class="col-sm-4 mb-4">
        <div class="card article-card">
          <% if article.file.attached? %>
            <%= image_tag article.file.variant(resize_to_fill: [600, 400]), class: "card-img-top", alt: "Article Image" %>
          <% else %>
            <img src="<%= asset_path('World-14.png') %>" class="card-img-top" alt="Placeholder Image">
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= article.title %></h5>
            <% if article.language_requirement.present? %>
              <p class="card-text"><strong>必要言語スキル:</strong> <%= article.language_requirement %></p>
            <% end %>
            <% if article.skills_required.present? %>
              <p class="card-text"><strong>必須スキル:</strong> <%= article.skills_required %></p>
            <% end %>
            <% if article.employment_type.present? %>
              <p class="card-text"><strong>雇用形態:</strong> <%= article.employment_type %></p>
            <% end %>
            <% if article.work_hours.present? %>
              <p class="card-text"><strong>勤務時間:</strong> <%= article.work_hours %></p>
            <% end %>
            <% if article.description.present? %>
              <p class="card-text"><strong>詳細:</strong> <%= article.description %></p>
            <% end %>
            <%= link_to "詳細を見る", article_path(article), class: "btn btn-primary" %>

            <a href="#" class="btn" style="background-color: #FF5733; color: white">応募する</a>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<% end %>
