<div style="display: flex; align-items: center; padding: 2px; text-align: center;">
  <h1 style="flex: 1; font-size: 6em; text-align: right; margin-bottom: 0; font-weight: bold;">Find your job <br>in Japan</h1>
  <img src="<%= asset_path('World-10.png') %>" alt="Matches Logo" style="flex: 1; width: auto; max-width: 100%;">
</div>

<!-- ボタンを中央寄せで配置するためのdiv -->
<div style="display: flex; justify-content: center; margin-bottom: 20px;">
  <div>
    <%= link_to '業界', root_path, class: "link-modern" %>
    <%= link_to '地域', root_path, class: "link-modern" %>
    <%= link_to '希望年収', root_path, class: "link-modern" %>
  </div>

  <div class="form-modern">
    <%= form_with url: root_path, local: true do |form| %>
      <%= form.search_field :query, style: "padding: 10px; font-size: 16px; border: 2px solid #ccc; border-radius: 20px 0 0 20px; outline: none;" %>
      <%= form.submit "Search", style: "padding: 10px 15px; font-size: 16px; background-color: #4285F4; color: white; border: none; border-radius: 0 20px 20px 0; cursor: pointer;" %>
    <% end %>
  </div>
</div>

<div class="row">
  <% @articles.each do |article| %>

  <div class="col-sm-4 mb-4">
    <div class="card article-card">
      <img src="<%= asset_path('World-14.png') %>" class="card-img-top" alt="Job Image 1">
      <div class="card-body">
        <h5 class="card-title">フロントエンド開発者</h5>
        <p class="card-text">株式会社テクノロジーズ</p>
        <p class="card-text">東京都港区</p>
        <p class="card-text">年収: 500万円 - 700万円</p>
        <a href="#" class="btn btn-primary">応募する</a>
      </div>
    </div>
  </div>

  <div class="col-sm-4 mb-4">
    <div class="card article-card">
      <img src="<%= asset_path('World-9.png') %>" class="card-img-top" alt="Job Image 1">
      <div class="card-body">
        <h5 class="card-title">バックエンドエンジニア</h5>
        <p class="card-text">グローバルITソリューション株式会社</p>
        <p class="card-text">大阪府大阪市</p>
        <p class="card-text">年収: 600万円 - 800万円</p>
        <a href="#" class="btn btn-primary">応募する</a>
      </div>
    </div>
  </div>

  <div class="col-sm-4 mb-4">
    <div class="card article-card">
      <img src="<%= asset_path('World-29.png') %>" class="card-img-top" alt="Job Image 1">
      <div class="card-body">
        <h5 class="card-title">プロジェクトマネージャー</h5>
        <p class="card-text">イノベーションデザイン株式会社</p>
        <p class="card-text">福岡県福岡市</p>
        <p class="card-text">年収: 700万円 - 900万円</p>
        <a href="#" class="btn btn-primary">応募する</a>
      </div>
    </div>
  </div>
  <% end %>
</div>
