<div style="display: flex; align-items: center; padding: 2px; text-align: center;">
  <h1 class="header-title d-none d-lg-block"><%= t('header.title.full') %></h1>
  <h1 class="header-title d-lg-none" style="margin-bottom: 10px;"><%= t('header.title.short') %></h1>
  <img src="<%= asset_path('World-10.png') %>" alt="<%= t('header.title.full') %>" class="logo-image">
</div>

<div class="benefits">
  <h2><%= t('global_career_support.service_benefits.section_title') %></h2>
  <ul>
      <li><strong><%= t('global_career_support.service_benefits.income_opportunity.title') %>:</strong> <%= t('global_career_support.service_benefits.income_opportunity.description') %></li>
      <li><strong><%= t('global_career_support.service_benefits.language_support.title') %>:</strong> <%= t('global_career_support.service_benefits.language_support.description') %></li>
      <li><strong><%= t('global_career_support.service_benefits.future_career.title') %>:</strong> <%= t('global_career_support.service_benefits.future_career.description') %></li>
  </ul>
  <p class="d-none d-md-block"><%= t('global_career_support.service_benefits.summary') %></p>
  <% if current_user %>
    <div style="text-align: center;">
      <%= button_to t('resume.upload'), user_path(current_user), method: :get, style: "padding: 12px 30px; font-size: 16px; background-color: #4285F4; color: white; border: none; border-radius: 5px; cursor: pointer; transition: background-color 0.3s; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);" %>
    </div>
  <% else %>
    <div style="text-align: center;">
      <%= button_to t('resume.upload'), '/auth/auth0', method: :post, data: { turbo: false }, style: "padding: 12px 30px; font-size: 16px; background-color: #4285F4; color: white; border: none; border-radius: 5px; cursor: pointer; transition: background-color 0.3s; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);" %>
    </div>
  <% end %>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="service-card text-center">
        <%= image_tag("resume_icon.jpg", alt: t('services.ai_review'), class: "img-fluid") %>
        <h3><%= t('services.ai_review') %></h3>
        <p><%= t('services.ai_review_description') %></p>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="service-card text-center">
        <%= image_tag("recruiter_icon.jpg", alt: t('services.recruiter_support'), class: "img-fluid") %>
        <h3><%= t('services.recruiter_support') %></h3>
        <p><%= t('services.recruiter_support_description') %></p>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="service-card text-center">
        <%= image_tag("visa_support_icon.jpg", alt: t('services.visa_support'), class: "img-fluid") %>
        <h3><%= t('services.visa_support') %></h3>
        <p><%= t('services.visa_support_description') %></p>
      </div>
    </div>
  </div>
</div>

<style>
  .service-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    padding: 20px;
  }

  .service-card img {
    height: auto;
  }
  .service-card h3 {
    margin-top: 15px;
    font-size: 1.25rem;
    color: #333;
  }
  .service-card p {
    color: #333;
  }

  .benefits {
      background-color: #f9f9f9;
      padding: 20px;
      border-radius: 8px;
      margin-top: 30px;
  }
  .benefits h2 {
      color: #4285F4;
  }
  .benefits ul {
      list-style-type: none;
      padding-left: 0;
  }
  .benefits li {
      margin-bottom: 15px;
      padding-left: 25px;
      position: relative;
  }
  .benefits li::before {
      content: '✓';
      color: #4285F4;
      position: absolute;
      left: 0;
      top: 0;
  }
</style>
