<p style="color: green"><%= notice %></p>

<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <%= render "/users/avatar" %>
    </div>
    <div class="row">
      <div style="margin: 2px auto">
        <%= "@#{@article.user.username}" %>
        <i class="fa-solid fa-eye"> <%= @article.impressionist_count(:filter=>:ip_address) %></i>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <%= render "article_details" %>
    <% if current_user?(@article.user) %>
      <div>
        <%= link_to "Edit this article", edit_article_path(@article), class:"btn btn-primary" %>
        <%= button_to "Destroy this article", @article, method: :delete, class:"btn btn-primary"  %>
      </div>
    <% else %>
      <div>
      </div>
    <% end %>
  </div>
</div>

