<p style="color: green"><%= notice %></p>

<div class="row">
    <div class="col-sm-1">
      <div class="row">
        <div class="col-sm-12">
          <div class="float-right">
            <% if @article.liked_by?(current_user) %>
                <i class="fa-solid fa-thumbs-up fa-2x"></i>
              <% else %>
                <i class="fa-regular fa-thumbs-up fa-2x"></i>
              <% end %>
            <p class="text-right">
            </p>
            <% if @article.bookmarked_by?(current_user) %>
              <td><%= link_to "ブックマークを外す", article_bookmarks_path(@article), method: :delete %></td>
            <% else %>
              <td><%= link_to "ブックマーク", article_bookmarks_path(@article), method: :post %></td>
            <% end %>
            <% if @article.liked_by?(current_user) %>
              <td><%= link_to "Likeを外す", article_likes_path(@article), method: :delete %></td>
            <% else %>
              <td><%= link_to "Like", article_likes_path(@article), method: :post %></td>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="float-right">
            <i class="fa-solid fa-eye fa-2x"></i>
            <p class="text-right">
              <%= @article.impressionist_count(:filter=>:ip_address) %>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-11">
      <%= render "article_details" %>
      <% if current_user?(@article.user) %>
        <div>
          <%= link_to "Edit this article", edit_article_path(@article), class:"btn btn-primary" %>
          <%= button_to "Destroy this article", @article, method: :delete, class:"btn btn-primary"  %>
        </div>
      <% else %>
        <div>
        </div>
      <% end %>
    </div>
</div>

