<p style="color: green"><%= notice %></p>

<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <%= render "/users/avatar_show" %>
    </div>
    <div class="row">
      <div style="margin: 1% auto">
        <%= "@#{@article.user.username}" %>
        <i class="fa-solid fa-eye"> <%= @article.impressionist_count(:filter=>:ip_address) %></i>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <%= render "article_details" %>
    <% if current_user?(@article.user) %>
      <br>
      <div class="row">
        <div class="col-sm-6" style="text-align: center">
          <%= link_to "Edit", edit_article_path(@article), class:"btn btn-primary" %>
        </div>
        <div class="col-sm-6" style="text-align: center">
          <%= button_to "Destroy", @article, method: :delete, class:"btn btn-primary"  %>
        </div>
      </div>
    <% else %>
      <div>
      </div>
    <% end %>
  </div>
</div>

