<div style="display: flex; align-items: center; padding: 2px; text-align: center;">
  <h1 class="header-title">日本で働く</br>海外の方を探す</h1>
  <img src="<%= asset_path('World-10.png') %>" alt="Matches Logo" class="logo-image">
</div>

<div class="row">
  <% @applicants.each do |applicant| %>
    <div class="col-sm-4 mb-4">
      <div class="card">
        <div class="card-header d-flex justify-content-end">
          <% if applicant.user&.avatar&.attached? %>
            <img src="<%= url_for(applicant.user&.avatar) %>" alt="Applicant Image" style="flex: 1; width: auto; max-width: 100%;">
          <% else %>
            <img src="<%= asset_path('World-14.png') %>" alt="Default Image" style="flex: 1; width: auto; max-width: 100%;">
          <% end %>
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= applicant.name %></h5>
          <p class="card-text">年齢: <%= applicant.age %></p>
          <p class="card-text">国籍: <%= applicant.nationality %></p>
          <p class="card-text">自己紹介: <%= applicant.self_introduction %></p>
          <%= link_to "詳細を見る", applicant, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
