<div class="container-sm">
  <p style="color: green"><%= notice %></p>

  <div class="card">
    <div class="card-header bg-primary text-white">
      <h5 class="card-title mb-0"><%= @applicant.name %></h5>
    </div>
    <div class="card-body">
      <p class="card-text"><strong>Birthday:</strong> <%= @applicant.birthday %></p>
      <p class="card-text"><strong>Age:</strong> <%= @applicant.age %></p>
      <p class="card-text"><strong>Nationality:</strong> <%= @applicant.nationality %></p>
      <p class="card-text"><strong>Phone Number:</strong> <%= @applicant.phone_number %></p>
      <p class="card-text"><strong>Self Introduction:</strong> <%= @applicant.self_introduction %></p>
      <p class="card-text"><strong>Desired Salary:</strong> <%= @applicant.desired_salary %></p>
    </div>
    <div class="card-footer bg-light d-flex justify-content-between">
      <%= link_to "Back to Applicants", applicants_path, class: "btn btn-secondary" %>
      <% if current_user?(@applicant.user_id) %>
        <div>
          <%= link_to "Edit", edit_applicant_path(@applicant), class: "btn btn-primary mr-2" %>
        </div>
        <div>
          <%= button_to "Destroy", @applicant, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
