<div class="container bg-light">
  <div class="row">
    <div class="col-sm-4 text-center">
      <div class="card">
        <%= render "/users/avatar" %>
        <div class="card-body">
          <h5 class="card-title"><%= "@#{@user.username}" %></h5>
          <hr>
          <% if current_user?(@user) %>
            <%
=begin%>
 <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-primary btn-sm" %> 
<%
=end%>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body" style="background-color: rgb(40, 43, 43); color: white;">
          <!-- ここにユーザーのプロフィール情報を表示 -->
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-sm-12">
      <div id="articles">
        <% @articles.each do |article| %>
          <%= render "articles/article", article: article %>
        <% end %>
      </div>
      <%= paginate @articles %>
      <% if Rails.env == "development" %>
        <p class="text-muted mt-3">
          Debug: <%= @number_of_articles %> draft articles
        </p>
      <% end %>
    </div>
  </div>
</div>
