<footer class="footer-container">
   <hr style="border: 1px solid black;">
  <div class="language-selector">
    <%= link_to 'English', switch_locale_path(locale: 'en') %>
    &nbsp;
    <%= link_to '日本語', switch_locale_path(locale: 'ja') %>
    &nbsp;
    <%= link_to 'Tiếng Việt', switch_locale_path(locale: 'vi') %>
    &nbsp;
    <%= link_to 'বাংলা', switch_locale_path(locale: 'bn') %>
    &nbsp;
    <%= link_to 'မြန်မာစာ', switch_locale_path(locale: 'my') %>
  </div>
  <br />
    <%= link_to 'Terms of use', page_path('terms') , class: "m-4" %>
    <%= link_to 'Privacy Policy', page_path('policy') , class: "m-4" %>
    <%= link_to 'Internship', page_path('internship') , class: "m-4" %>
    <%= link_to 'About Us', page_path('about') , class: "m-4" %>
    <%= link_to 'Contact', page_path('contact') , class: "m-4" %>
  <br />
  <br />
    © 2024 Copyright:
    <a class="footer-link" href="https://job-in-japan.com/">Job in Japan</a>
    </br>
    <% unless Rails.env.production? %>
      <% if current_user&.admin? %>
        <%= link_to "admin", rails_admin.dashboard_path %>
      <% elseif current_user&.employee %>
        <p>Employee</p>
      <% elseif current_user&.applicant %>
        <p>Applicant</p>
      <% else %>
        <p>Guest</p>
      <% end %>
    <% end %>
  <br />
</footer>

<style>
  .footer-container {
    text-align: center;
    color: black;
    position: relative;
    min-height: 5vh;
  }
</style>
