<header class="header-container">
  <%= link_to 'Job in Japan', root_path, class: "header-title-link" %>

  <div class="language-selector">
    <%= link_to 'English', switch_locale_path(locale: 'en'), class: "header-link" %>
    <%= link_to '日本語', switch_locale_path(locale: 'ja'), class: "header-link" %>
    <%= link_to 'Tiếng Việt', switch_locale_path(locale: 'vi'), class: "header-link" %>
    <%= link_to 'বাংলা', switch_locale_path(locale: 'bn'), class: "header-link" %>
    <%= link_to 'မြန်မာစာ', switch_locale_path(locale: 'my'), class: "header-link" %>
  </div>

  <div class="header-links">
    <% if current_user %>
      <% if current_user&.employee? || current_user&.admin? %>
        <% if current_page?(root_path) %>
          <%= link_to '採用企業様はこちら', applicants_path, class: "header-link" %>
        <% else %>
          <%= link_to 'Job seekers, click here', root_path, class: "header-link" %>
        <% end %>
      <% else %>
        <% unless current_page?(root_path) %>
          <%= link_to 'Job seekers, click here', root_path, class: "header-link" %>
        <% end %>
      <% end %>
    <% else %>
      <% if current_page?(root_path) %>
        <%= link_to '採用企業様はこちら', home_index_path, class: "header-link" %>
      <% else %>
        <%= link_to 'Job seekers, click here', root_path, class: "header-link" %>
      <% end %>
    <% end %>

    <% if current_user %>
      <div class="user-info">
        <%= link_to user_path(current_user.id), class: "header-link user-icon-link" do %>
          <i class="fas fa-user-circle user-icon"></i>
        <% end %>
      </div>
      <% if false %>
      <div class="notification-bell">
        <i class="fas fa-bell"></i>
        <span class="notification-badge">0</span>
      </div>
      <% end %>
      <div class="logout-button">
        <%= button_to 'Logout', 'auth/logout', method: :get, data: { turbo: false }, class: "button-modern" %>
      </div>
    <% else %>
      <div class="login-button">
        <%= button_to 'Login', '/auth/auth0', method: :post, data: { turbo: false }, class: "button-modern" %>
      </div>
    <% end %>
  </div>
</header>
