<nav class="navbar navbar-light" style="background-color: #33404D;">
  <div class="container-fluid">
    <%= link_to "LDocs", articles_path, class:"px-1 text-light" %>
  <% if false %>
    TODO: 検索は記事数が増えるまで実装しないためコメントアウト
    <form class="form-inline my-2 my-lg-0 px-1">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  <% end %>
  <% if user_signed_in? %>
    <div class="dropdown px-2">
      <div class="header-avatar", data-toggle="dropdown">
        <% if current_user&.avatar&.attached? %>
          <%= image_tag current_user&.avatar, id: "dropdownMenuButton", alt: "Avatar"%>
        <% else %>
          <div class="circle" style="width: 80px; height: 80px; background: <%= Article::Colors[@user.id%11] %>"></div>
        <% end %>
      </div>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <div class="dropdown-item">
          <%= link_to "マイページ", user_path(current_user.username), class:"p-2 text-dark btn-sm" %>
        </div>
        <div class="dropdown-item">
          <%= link_to "ブックマーク", user_path(current_user.username, key: "bookmarks"), class:"p-2 text-dark btn-sm" %>
        </div>
        <div class="dropdown-item">
          <%= link_to "いいね", user_path(current_user.username, key: "likes"), class:"p-2 text-dark btn-sm" %>
        </div>
        <div class="dropdown-item">
          <%= link_to "下書き", user_path(current_user.username, key: "draft"), class:"p-2 text-dark btn-sm" %>
        </div>
        <hr>
        <div class="dropdown-item">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"btn btn-light btn-sm" %>
        </div>
      </div>
    </div>
  <% else %>
      <%= link_to "ログイン", new_user_session_path, class:"btn btn-outline-light btn-sm" %>
  <% end %>
  </li>
    <%= link_to "投稿する", new_article_path, class:"btn btn-outline-light btn-sm" %>
  </div>
</nav>