<!DOCTYPE html>
<html>
  <head>
    <title>LDocs</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag('favicon.png') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% if Rails.env.production? %>
      <%= render 'layouts/google_analytics' %>
    <% end %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <div id="root"></div>
    <%= render "layouts/sub_header" %>
    <div class="container-fluid bg-light">
      <br />
      <%= yield %>
      <br />
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>
