<!DOCTYPE html>
<html>
  <head>
    <title>Job in Japan</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag('favicon.ico') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% if Rails.env.production? %>
      <%= render 'layouts/google_analytics' %>
    <% end %>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6034033690905779" crossorigin="anonymous"></script>
  </head>

  <body class="pastel-blue-gradient">
    <div class="container main-container">
      <%= render "layouts/header" %>
      <%= content_tag(:div, flash[:alert], class: "alert alert-danger") if flash[:alert] %>
      <%= yield %>
      <%= render "layouts/footer" %>
    </div>
  </body>
</html>
