<!DOCTYPE html>
<html>
  <head>
    <title>LDocs</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag('favicon.png') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% if Rails.env.production? %>
      <%= render 'layouts/google_analytics' %>
    <% end %>
  </head>

  <body>
    <header>
      <% if current_user %>
        <%= image_tag current_user.image %>
        <%= current_user.name %>さん
        <%= link_to "ログアウト", log_out_path %>
      <% else  %>
        ゲストさん
        <%= button_to "Googleでログイン", "/auth/google_oauth2", method: :post, data: { turbo: false } %>
      <% end %>
    </header>

    <div class="container-fluid text-center main-container">
      <%= yield %>
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>
