<!DOCTYPE html>
<html>
  <head>
    <title>Matches</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag('favicon.png') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% if Rails.env.production? %>
      <%= render 'layouts/google_analytics' %>
    <% end %>
  </head>

  <body class="pastel-blue-gradient">
    <div class="container main-container">
    <header>
      <p>Matches</p>
      <% if current_user %>
        <%= link_to "ログアウト", log_out_path %>
      <% else  %>
        ゲストさん
        <%= button_to "Googleでログイン", "/auth/google_oauth2", method: :post, data: { turbo: false } %>
      <% end %>
      <%= link_to '採用企業様はこちら', root_path, style: "color: blue; text-decoration: none;" %>
    </header>

      <%= yield %>
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>
